Checks: >
  -clang-analyzer-optin.core.EnumCastOutOfRange,  # Disable enum cast range checker due to false positives in SpiderMonkey MOZ_ASSERT macro
  clang-analyzer-*,
  # clang-diagnostic-*,
  # cppcoreguidelines-*,
  # modernize-*,
  # performance-*,
  # readability-*,
  # -modernize-use-trailing-return-type,
  # -readability-identifier-length

# Treat all warnings as errors
WarningsAsErrors: '*'

# Only warn on headers in the code tree
HeaderFilterRegex: 'builtins/|runtime/'

# Use the same style as clang-format (look for .clang-format)
FormatStyle: file

# Explicitly exclude system/dependency headers
SystemHeaders: false
